body {
    background-color: #95978D;
    color: #333333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar style */
  .navbar {
    height: 100px;
  }
  
  ul {
    background-color: #8f8d97;
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    height: 50px;
  }
  
  li {
    flex: 1;
  }
  
  li a {
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #020202;
    height: 100%;
  }
  
  li a:hover {
    text-decoration: underline;
  }

  /* title style */
  .title {
    text-align: center;
  }
  /* header-images */

  .flex-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .image-1,
  .image-2,
  .image-3 {
    padding: 10px;
  }
  .image-1 img,
  .image-2 img,
  .image-3 img {
    width: 100%;
    height: auto;
  }
  
  /* quiz info section */
  .quiz-title {
    text-align: center;
    margin-top: 50px;
  }
  /* image matching the current quiz-theme */

  .quiz-title img {
    height: 500px;
  }

.button {
    text-align: center;
    margin-top: 15px;
}
.button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: #333333;
    text-decoration: none;
    border-radius: 4px;
}

/* Quiz Style */
.question-box {
  font-family: 'Quicksand', 'sans-serif';
  font-size: 36px;
  margin-bottom: 15px;
}
.quiz-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#quiz-image img {
  max-width: 50%;
  height: auto;
}
#question {
    text-align: center;
}
#answers {
    text-align: center;
}