body {
    background-color: #95978D;
    color: #333333;
}
/* navbar style */
  .navbar {
    height: 100px;
  }
  
  ul {
    background-color: #8f8d97;
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    height: 50px;
  }
  
  li {
    flex: 1;
  }
  
  li a {
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #020202;
    height: 100%;
  }
  
  li a:hover {
    text-decoration: underline;
  }

  /* title style and also background images */
  .title {
    text-align: center;
  }
  
  .flex-head {
    display: flex;
    justify-content: space-between;
  }
  
  .heading-left, .heading-center, .heading-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  }
  
  /* images taken from pexels.com*/

  .heading-left {
    background-image: url(../assets/images/learningtime.jpeg);
  }
  
  .heading-center {
    background-image: url(../assets/images/gametime.jpeg);

  }
  
  .heading-center h1 {
    font-size: 48px;
    font-family: 'Noto Serif Khitan Small Script', sans-serif;
    margin: 0;
  }
  
  .heading-center h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin: 0;
  }
  
  .heading-right {
    background-image: url(../assets/images/learntime.jpeg);
  }
  /* quiz info section */
  .quiz-title {
    text-align: center;
    margin-top: 50px;
  }
  /* image matching the current quiz-theme */

  .quiz-title img {
    height: 500px;
  }

.button {
    text-align: center;
    margin-top: 15px;
}
.button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: #333333;
    text-decoration: none;
    border-radius: 4px;
}

/*quiz style*/

#quiz {
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
